registry=https://pkgs.dev.azure.com/talentechdev/_packaging/HRMTS/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/talentechdev/_packaging/HRMTS/npm/registry/:username=talentechdev
//pkgs.dev.azure.com/talentechdev/_packaging/HRMTS/npm/registry/:_password=NmY2NnljaHpvYTdqcmhhajd5b2s1aGI2dXlzajN1cjNhbHFpN3ZqZTI0aHJta2tlcmp2cQ==
//pkgs.dev.azure.com/talentechdev/_packaging/HRMTS/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/talentechdev/_packaging/HRMTS/npm/:username=talentechdev
//pkgs.dev.azure.com/talentechdev/_packaging/HRMTS/npm/:_password=NmY2NnljaHpvYTdqcmhhajd5b2s1aGI2dXlzajN1cjNhbHFpN3ZqZTI0aHJta2tlcmp2cQ==
//pkgs.dev.azure.com/talentechdev/_packaging/HRMTS/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
